<table  width="100%" border="0" align="center" cellpadding="4" cellspacing="0">
  <tr>
    <td style="border-bottom: 1px solid; border-color: #cccccc;"><div align="right"><img src="{$tpl_path}img/logo.gif"></div></td>
  </tr>
  <tr>
    <td><font size="1" face="Verdana, Arial, Helvetica, sans-serif">{#greeting#} {$LASTNAME} {$FIRSTNAME},<br>
      <br>
      {#text#} <br>
      <strong>{#email#}</strong> {$EMAIL} <br>
      <strong>{#password#}</strong> {$PASSWORD} </font></td>
  </tr>
</table>
