.bktagged { 
  background-color: #CCE6FF;
  border: thin solid black;
  color: inherit;
}

.csets { 
  border: thin solid black;
  border-collapse: collapse;
  border-spacing: 0;
  padding-left: 5pt;
  padding-right: 5pt;
  vertical-align: top;
}
 
.deltaline { 
  border-top: thin solid black;
  font-weight: bold;
  padding-left: 5pt;
  padding-right: 5pt;
}

.comments { 
  font-family: monospace;
  padding-left: 10pt;
  border: thin solid black;
  border-spacing: 0;
  border-collapse: collapse;
}

.bkdiffsep { 
  font-family: monospace;
  padding: 3pt;
}

.precontainer {
    border: thin solid gray;
    margin-top: 10pt;
    margin-bottom: 10pt;
    padding: 4pt;
    overflow: auto;
}

.diffs {
  font-family: monospace;
  background-color: inherit;
  white-space: pre;
  line-height: 2ex;
}

.added { color: blue;}
.removed { color: gray;}
.nochange { color: black;}

/* Annotated view of a file */
.bkannotate {
  font-family: monospace;
  white-space: pre;
  line-height: 2ex;
}






