.bktagged { 
  background-color: #CCE6FF;
  border: thin solid black;
  color: inherit;
}

.csets { 
  border: thin solid black;
  border-collapse: collapse;
  border-spacing: 0;
  padding-left: 5pt;
  padding-right: 5pt;
  vertical-align: top;
}
 
.deltaline { 
  border-top: thin solid black;
  font-weight: bold;
  padding-left: 5pt;
  padding-right: 5pt;
}

.comments { 
  font-family: monospace;
  padding-left: 10pt;
  border: thin solid black;
  border-spacing: 0;
  border-collapse: collapse;
}

.bkdiffsep { 
 font-family: monospace;
  padding: 3pt;
}

.diffadded {
  font-family: monospace;
  color: blue;
  background-color: inherit;
  white-space: pre;
}

.diffremoved {
	font-family: monospace;
	color: gray;
    background-color: inherit;
	white-space: pre;
}

.diffnochange {
	font-family: monospace;
	color: black;
    background-color: inherit;
	white-space: pre;
}


/* Annotated view of a file */
.bkannotate {
  font-family: monospace;
  white-space: pre;
  font-size: smaller;
}






