/* Classes for bbcode module */

/* Quote (for xarBB) */

dl.bbcode-quote {
	margin: 1em 10%;
}
dl.bbcode-quote dt {
	display: inline;
	position: relative;
	padding: 0 0.4em;
	left: 0.5em;
	top: 0.6em;
	background-color: #fff;
	font-weight: bold;
	list-style-type: none;
	border: 1px solid #ddf;
}
dl.bbcode-quote dd {
	margin-left: 0;
}
dl.bbcode-quote dd blockquote {
	padding: 1em;
	border: 3px double #ddf;
	margin: 0 13px 0 0;
}

