


.xar-error {
color: red;
font-weight: bold;
}
span.xar-error {
padding-left: 5px;
}
#invalid ul {
list-style-type: none;
margin: 3px 5px 0 0;
padding: 0;
}
#invalid li.xar-error {
margin-bottom: 6px;
margin-left: 4px;
}
#item_controls {
margin: 14px 0 0 6px;
}
.mod_settings fieldset {
border: none;
 } 
 .mod_settings h4 {
margin-top: 7px;
 }



#extra_fields {
margin: 0 0 16px 0;
}

.admin-internal-link {
float:right; 
display:inline;
}