label#isalias, label#sitemap_exclude {
float: none; 
}
input#isalias, input#sitemap_exclude {
float: left; 
margin: 3px 5px 0 0;
}

.array_wrapper .xar-form-container-after {
margin-top: 5px;
margin-left: 5em;
}
.array_wrapper {
width: 530px;
}
.config { 
margin-bottom: 15px;
}


.xar-error {
color: red;
font-weight: bold;
}
span.xar-error {
padding-left: 5px;
}
#invalid ul {
list-style-type: none;
margin: 3px 5px 0 0;
padding: 0;
}
#invalid li.xar-error {
margin-bottom: 6px;
margin-left: 4px;
}
#item_controls {
margin: 14px 0 0 6px;
}
.mod_settings fieldset {
border: none;
 } 
 .mod_settings h4 {
margin-top: 7px;
 }

.xar-form-input-wrapper {
clear: both;
}
.xar-form-input-wrapper label, .xar-form-input-wrapper input {
margin: 4px 0 3px 0;
}
.xar-form-input-wrapper select {
margin: 4px 0 4px 0;
}

#extra_fields {
margin: 0 0 16px 0;
}

.admin-internal-link {
float:right; 
display:inline;
}