/* Customer router forms in user-checkout.xt */

table#cust_route {
border: none;
margin-left: 10px;
}
#cust_route tr {
background-color: transparent;
}
#cust_route h3 {
font-size: 14px;
}
#cust_route td {
text-align: left;
vertical-align: top;
}
#cust_route td.left {
width: 45%;
}
#cust_route input {
margin: 3px 0 3px 0;
}
.password {
margin: 9px 0 9px 0;
}
#cust_route label {
display: block;
padding: 0;
margin: 0;
font-style: normal;
}
#returning {
padding-left: 30px;
border-left: 2px dotted #ddd;
}
#dont_req_pw  {
margin: 7px 0 7px 0;
}
#dont_req_pw input {
margin-right: 7px;
}
#req_new_pw  {
margin: 9px 0 9px 0;
}
