.xar-polls-block {
    padding: 6px;
}

/* Style for the poll question */
.xar-polls-block .title {
    /*
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    */
    margin: 0.25em 0;
}

/* Default styles for the CSS (non-image) bars */
.xar-polls-block .xar-polls-css-bar {
    margin-top: 0;
    margin-bottom: 5pt;
    width: 0;
    height: 1em;
    min-width: 1px;
    float:left;
    display: inline;
}
.xar-polls-block .xar-polls-image-bar {
    /* Height of the image - keeps the height constant while the width is adjusted. */
    height: 13px;
}

/* Block options and results are formatted in a list - take off the list decoration */
.xar-polls-block ul {
    padding: 0;
    margin: 0.25em 0 !important;
    list-style: none;
}
.xar-polls-block li {
    padding: 0;
    margin: 0;
}

.xar-polls-block .xar-polls-vote-wrapper {
    margin: 0.25em 0;
}

/* The vote screen (misnamed the 'display' template) */

.xar-polls-vote {
    padding: 1em 0;
}
.xar-polls-vote ul {
    padding: 0;
    margin: 0.25em 0 !important;
    list-style: none;
}
.xar-polls-vote li {
    padding: 0;
    margin: 0;
}

/* Single poll result */
.xar-polls-result .xar-polls-image-bar {
    /* Height of the image - keeps the height constant while the width is adjusted. */
    height: 13px;
}
.xar-polls-result xar-polls-css-bar {
    height: 1em;
    min-width: 1px;
    float: left;
    display: inline;
}

/* Main list of available polls */
.xar-polls-list-wrapper {
}
.xar-polls-list-wrapper table td, .xar-polls-list-wrapper table th {
    padding: 0.5em;
}
