/* Photo gallery template ||| Joshuaink.com ||| March 2005 ||| Free to use but this credit must remain in place */

#wrap{
    width:90%;
    margin:0 auto;
    position:relative;
}
.gallery-content {
    margin: 1em;
}
.gallery-tip h3 {
    margin: 0;
}
.gallery-content ul {
    margin: 0;
    padding: 0;
    list-style: none !important;
}
.gallery-content li {
    margin: 0;
    padding: 0;
    list-style: none !important;
    text-align:center;
}
.gallery-content ul div.gallery-info {
    display: none;
}
table#picture_gallery {
    width: 100%;
    border: 0;
    border-spacing: 0;
}
table#gallery td {
    margin: 0;
}
#fullplate-navigation {
    list-style:none;
    margin: 5px 0 0 45px;
}

#fullplate-navigation li {
    display:block;
    float:left;
    width:210px;
}
#previous{
    text-align:left;
}
#next{
    text-align:right;
}
#fullplate-navigation li a{
    display:block;
    width:190px;
    padding:10px;
}
#fullplate-navigation li a:hover{
    color:#333;
}
#fullplate-photo{
    margin: 1em;
}
.gallery-content a {
    display: block;
    margin: .2em;
    text-decoration: none !important;
}
.gallery-content a img {
    display: block;
    margin: 1em auto;
}
#photoholder {
    margin: auto;
}
#photoholder img {
    display: block;
    margin: auto;
}