@import url('ability.jquery.ability.css');

body, body.m {
	background: #000;
	color: #0ff;
	font: 76% "Lucida Grande", Verdana, sans-serif;
}

body.l {font-size: 90%; }
body.xl {font-size: 110%; }
body.xxl {font-size: 130%; }

ul.fontsize li, ul.switcher li {
	float:left;
	margin-right:10px;
	border: 2px solid #0ff;
	padding: 2px;
	text-align:center;
}

ul.fontsize li a, ul.switcher li a{
	color: #0ff;
}
