
/* Move text areas to the left */
div.ievents-modify-event div.xar-form-container-after,
div.ievents-modify-calendar div.xar-form-container-after {
	margin: 0.25em 0 1em;
}

/* Labels to the left */
div.ievents-modify-event label,
div.ievents-modify-calendar label {
	text-align: left;
	font-weight: bold;
}

/* Render the categories a little better (in the admin screen) */
div.ievents-modify-event div.ievents-hooks select,
div.ievents-modify-calendar div.ievents-hooks select {
	clear: both;
	height: 12em;
}

/* Flat Events listing */
div.ievents-view dl.ievents-events {
	margin: 0.5em 0;
}
div.ievents-view dl.ievents-events dt,
div.ievents-view dl.ievents-events dd,
div.ievents-view dl.ievents-groups dd {
	margin-left: 0;
}
div.ievents-view dl.ievents-events dt {
	margin-top: 0.5em;
	border-top: 1px solid #eeeeee;
	clear: both;
}
div.ievents-view dl.ievents-events dd {
	margin-left: 12em;
}
div.ievents-view dl.ievents-events dt span.ievents-time {
	padding-left: 12em;
}

/* Give each event lising some left margin to put the dates */
div.ievents-view dl.ievents-events dt {
	margin-left: 12em;
	position: relative;
}
/* Then position the dates within the dt margin */
div.ievents-view dl.ievents-events dt strong {
    width: 12em; /* Allow the date to wrap */
    display: block;
    position: absolute;
    left: -12em;
}

/* Grouping lists */

div.ievents-view dt.ievents-group {
	font-weight: bold;
	font-style: italic;
	font-size: 120%;
	color: #666666;
	margin-top: 1.6em;
	clear: both;
}

/* Single event */

div.ievents-view dl.ievents-event dt {
	margin-left: 0;
}
div.ievents-view dl.ievents-event dd {
	margin-left: 2em;
}
div.ievents-view dl.ievents-event dt {
	font-weight: bold;
	font-style: italic;
	font-size: 120%;
	color: #666666;
	border-bottom: 2px solid #dddddd;
	margin-top: 1em;
}
div.ievents-view dl.ievents-event dd.ievents-event-calfooter {
	margin: 1em 0;
	padding: 0.5em 1em;
	border: 1px solid #eeeeee;
}
div.ievents-view dl.ievents-event dd.ievents-event-calheader {
	margin: 1em 0;
	padding: 0.5em 1em;
	border: 1px solid #eeeeee;
}

/* Next/previous links in an event detail */
div.ievents-nextprev {
	margin: 0.25em 0;
	padding: 0.25wm 0;
	border: dotted #bbbbbb;
	border-width: 1px 0;
}
div.ievents-nextprev ul {
	list-style: none;
	height: 1em;
	padding: 0;
	margin: 0;
}
div.ievents-nextprev li {
	width: 33%;
	float: left;
	margin: 0;
	padding: 0;
	background-image: none; /* For Xaraya_Classic */
}
div.ievents-nextprev li a {
	text-decoration: none;
	font-weight: bold;
}
div.ievents-nextprev li span {
	color: #dddddd;
	font-weight: bold;
}
div.ievents-nextprev li.ievents-nextprev-prev {
	text-align: left;
}
div.ievents-nextprev li.ievents-nextprev-list {
	text-align: center;
}
div.ievents-nextprev li.ievents-nextprev-next {
	text-align: right;
}

/* Jump menu formatting */
select.ievents-jump-catids {
	vertical-align: top;
	height: 8em;
}
div.ievents-jump-menu span.ievents-date-parts {
	white-space: nowrap;
}

/* Calendar view screen */
div.ievents-view-calendars dl,
div.ievents-view-calendars dl dt,
div.ievents-view-calendars dl dd {
	margin-left: 0;
	padding-left: 0;
}
div.ievents-view-calendars dl dt {
	font-weight: bold;
	font-style: italic;
	font-size: 120%;
	color: #666666;
	border-bottom: 2px solid #dddddd;
	margin-top: 2em;
	clear: both;
}
div.ievents-view-calendars dl dd {
	margin: 0.5em 0;
}

/* Mini admin menu */
ul.admin-mini {
	list-style: none;
	height: 1em;
	padding: 0;
	margin: 0.5em 0;
}
ul.admin-mini li {
	float: left;
	margin: 0 1em 0 0;
	padding: 0;
	background-image: none; /* For Xaraya_Classic */
}

/* Put the category selection menu label on a line of its own */
label#catids_0_label {
	display: block;
	font-weight: bold;
}
label#crule_1_label, label#crule_2_label,
span#crule_1_wrapper, span#crule_2_wrapper {
	white-space: nowrap;
}

/* Normalise paragraphs and a few other normal tags */
div.ievents-view-calendars p,
div.ievents-view p {
	line-height: 120%;
	margin: 0.5em 0;
}
dl.ievents-event dt.ievents-event h2 {
	font-style: normal;
}
dl.ievents-event dt.ievents-event {
	padding: 0;
	border: none;
}
dl.ievents-event {
	border: none;
}

dd.ievents-event-summary img {
    vertical-align: top;
	padding-left: 1em;
}

/* Flags wrapper */
span.ievents-flags-wrapper {
}
span.ievents-flags-wrapper span.ievents-flag {
	margin: 0 1em;
	padding: 0.1em 0.5em;
	font-weight: bold;
	color: #ffffff;
	background-color: #999999;
}
span.ievents-flags-wrapper span.ievents-cancelled {
	background-color: #ba0000;
}
span.ievents-flags-wrapper span.ievents-full {
	background-color: #ba0000;
}
span.ievents-flags-wrapper span.ievents-provisional {
	background-color: #ba0000;
}

/* Search Styles */

/* The search box and the table cell it is in should take up whatever space is left */
div.ievents-search table input#q {
    width: 94%;
	margin-right: 4%;
}
div.ievents-search td#ievents-td-q {
    width: 100%;
}

/* Make table cell alignment explicit */
div.ievents-search table tr th,
div.ievents-search table tr td {
    vertical-align: bottom;
	text-align: left;
}

/* Some padding on the form items */
div.ievents-search table select {
    margin-right: 0.25em;
}

div.ievents-search table tr td label {
    clear: both;
    display: block;
}

span.ievents-date-divider {
    margin: 0 0.5em;
}

div.ievents-search-simple table {
    border: none;
	width: 98%;
}
div.ievents-search table, div.ievents-search td, div.ievents-search th {
    border: none;
}

/* Links to export functions */

a.ievents-export-rss {
	padding-left: 22px;
	background-image: url(../xarimages/icon-rss.gif);
	background-repeat: no-repeat;
	background-position: center left;
}
a.ievents-export-ical {
	padding-left: 22px;
	background-image: url(../xarimages/icon-date.gif);
	background-repeat: no-repeat;
	background-position: center left;
}
a.ievents-export-vcal {
	padding-left: 22px;
	background-image: url(../xarimages/icon-date.gif);
	background-repeat: no-repeat;
	background-position: center left;
}

/* Selectors for the calendar view */

div.ievents-view table {
    border-collapse: collapse;
}
div.ievents-view-cal td {
    border-color: #666666;
}
div.ievents-view-cal table {
    border-color: #666666;
}

/* Simple/advanced search form classes */
/* Hide the search form visuals but it still operates as normal */
div.ievents-search-advanced-hidden {
    display: none;
}

