
/* Reduce the sizes of images to fit into the tables */

div.mag-issues img.mag-cover-img-icon {
    height: 2em;
}

div.mag-mags-list img.mag-logo-icon {
    height: 2em;
}

/* Dynamic data forms and form items */

div.mag-admin div.mag-form-item {
    clear: both;
    margin: 1em 0;
}
div.mag-admin div.mag-form-item label {
    clear: both;
    display: block;
}
div.mag-admin div.mag-form-item textarea,
div.mag-admin div.mag-form-item div.xar-form-container-after {
    padding: 0;
    margin: 0;
    display: block;
    float: none;
}
table {
    border: 1px hidden #ffffff;
}
table td,
table th {
    padding: 0.2em 0.5em;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
}