fieldset.mod_settings, div#mod_settings fieldset {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 7px;
    border-top: none;
}
fieldset#mod_settings_last {
    border-bottom: 1px solid transparent;
}