label.modctype {
width: 25em;
}

.array_wrapper .xar-form-container-after {
margin-top: 5px;
margin-left: 5em;
}
.array_wrapper {
width: 530px;
}
.config { 
margin-bottom: 15px;
}

.xar-form-input-wrapper {
clear: both;
}
.xar-form-input-wrapper label, .xar-form-input-wrapper input {
margin: 4px 0 3px 0;
}
.xar-form-input-wrapper select {
margin: 4px 0 4px 0;
}


.hidden {
display: none; 
}
.xar-form-container-after {
margin-top: 10px; 
}
#config {
max-width: 650px;
}
#config input {
display: none;
float: right;
}
#config .xar-form-textlong {
display: inline;
min-width: 300px;
}
#config label {
display: none;
}
#config .xar-form-label {
display: inline;
}
#config label.configlabel { 
display: inline;
}


