 
#expand_collapse {
margin: 20px 0 13px 0;
}

#savestructure {
margin-top: 20px; 
}

.linkid {
color: #666;
}
span.linkid, span.highlight {
float: right; 
}
span.highlight {
color: #006600;
font-weight: bold;
background-color: #fff;
padding: 0 1px 0 1px;
}