 
#expand_collapse {
margin: 20px 0 13px 0;
}

#savestructure {
margin-top: 20px; 
}

.linkid {
display:none;
}
span.linkid, span.highlight {
padding: 0 1px 0 1px;
}
span.highlight {
color: #006600;
background-color: #fff;
}
