/* navigatorcaption.xt - making it compact, but it still seems too large to comply with the guide */
div.navigator-caption-block {
    width: 200px;
    border: 1px solid #cccc99;
    padding:10px;
}

div.navigator-caption-block p {
    font-size:8pt;
    padding: .1em 0;
    margin:0;
    border:0 none;
}

div.navigator-caption-block a img {
    display:block;
    padding:0;
    margin:0;
    border:0 none;
}