/*
    Used for the publications document pages.
    Override this in the theme to use your own custom CSS
*/

.xar-publications-news-summary-title {
    font-size: 12pt;
    margin: .5em 0 .25em 0;
    padding: 0;
    border: 0 none;
    line-height: 1.9em;
}

.xar-publications-news-summary-postby {
    font-size: 8pt;
}

.xar-publications-news-summary-text {
    font-size: 10pt;
}

.xar-publications-news-summary-footer {
    border-bottom: 1px solid;
}

.xar-publications-news-detail-title {
    font-size: 12pt;
    margin: .5em 0 .25em 0;
    padding: 0;
    border: 0 none;
    line-height: 1.9em;
}
