fieldset.mod_settings {
	border: none;
}

.errors {
	color: red;
}
.errors span {
	font-weight: bold;
}
.pathstart {
font-weight: bold;
}

a.sitemap {
	text-decoration: none;
}
a.sitemap:visited { 
	color: #2380A8
}
#sitemap {
margin: 18px 0 18px 20px;
}

h3.sitemap {
margin-top: 24px;
}