/*
    Used for the publications overview pages.
    Override this in the theme to use your own custom CSS
*/

.xar-publications-type-title {
    font-size: 12pt;
    margin: .5em 0 .25em 0;
    padding: 0;
    border: 0 none;
    line-height: 1.9em;
}