/*
    Used for the publications document pages.
    Override this in the theme to use your own custom CSS
*/

.xar-publications-sitemap-detail-title {
    font-size: 12pt;
    margin: .5em 0 .25em 0;
    padding: 0;
    border: 0 none;
    line-height: 1.9em;
}

.xar-publications-sitemap-level-1 {
    font-size: 12pt;
    margin: .5em 0 .25em 0;
    line-height: 1.5em;
}

.xar-publications-sitemap-level-2 {
    font-size: 10pt;
    margin: .5em 0 .25em 0;
    line-height: 1.0em;
}

.xar-publications-sitemap-level-3 {
    font-size: 10pt;
    margin: .5em 0 .25em 0;
    line-height: 1.0em;
}
