/*Navigation tabs test 
Credits to simplebits.com
*/
.tabnav
    {
        height: 20px;
        margin: 0;
        padding-left: 5px;
        background: url(../xarimages/dot_gris.gif) repeat-x bottom;
    }
div.help {
    float: left;
}


.tabnav div
    {
        display: inline;
        list-style-type: none;
    }
    
.tabnav a:link, .tabnav a:visited
{
        float: left;
        background: #f3f3f3;
        font-size: 10px;
        line-height: 14px;
        font-weight: bold;
        padding: 2px 10px 2px 10px;
        margin-right: 4px;
        border: 1px solid #ccc;
        text-decoration: none;
        color: #666;
    }

.tabnav a:link.active, .tabnav a:visited.active
    {
        border-bottom: 1px solid #fff;
        background: #fff;
        color: #000;
    }

.tabnav a:hover
    {
        background: #fff;
    }
    
.tabnav a.options:link, .tabnav a.options:visited
{
    border: 1px solid #ccc;
    float: right;
    background: #f3f3f3;
}   

.tabnav a.options:link.active, .tabnav a.options:visited.active
    {
        background: #fff;
    }

.tabnav a.options:hover
    {
        background: #fff;
    }   
    
/* square */

#navSquare {
    margin: 0;
    padding: 0 0 20px 10px;
    border-bottom: 1px solid #9FB1BC;
    }

#navSquare li {
    margin: 0; 
    padding: 0;
    display: inline;
    list-style-type: none;
    }
    
#navSquare a:link, #navSquare a:visited {
    float: left;
    font-size: 10px;
    line-height: 14px;
    font-weight: bold;
    padding: 2px 12px 5px 12px;
    text-decoration: none;
    color: #708491;
    }

#navSquare a:link.active, #navSquare a:visited.active, #navSquare a:hover {
    color: #000;
    background: url(../xarimages/pointeur.gif) no-repeat bottom center;
}