#cal-calendar {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

#cal-calendar .cal-navigation {
    font-weight: bold;
    font-size: 1.6em;
    text-decoration: none;
    text-align: center;
    border-bottom: 2px solid black;
    width: 5%;
}

#cal-calendar .cal-navigation a {
    text-decoration: none;
    /*margin: 0 15px 0 15px;*/
}

#cal-calendar .cal-week-title {
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    border-bottom: 1px solid black;
    padding-right: 5px;
}

#cal-calendar .cal-day-title {
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    border-bottom: 1px solid black;
    width: 13%;
    text-align: center;
}

#cal-calendar .cal-week {
    border-right: 2px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    padding-right: 5px;
}

#cal-calendar .cal-week a {
    text-decoration: none;

}

#cal-calendar .cal-day {
    border: 1px solid black;
    height: 50px;
    text-align: left;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

#cal-calendar .cal-day a {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    vertical-align: top;
    padding: 0 3px 3px 3px;
    text-decoration: none;
    margin: 0;
}


