div.nqresults {
  text-align: center;
  width: 80%;
}
table.nqoutput, table.nqinput {
  text-align : left;
/*  color : #000000;
  background-color: #D0E0F0; */
}
table.nqoutput th, table.nqinput th {
/*  color : #000000;
  background-color: #A0C0F0; */
}
table.nqoutput th a:link, table.nqinput th a:link {
/*  color : #003366;
  background-color: #A0C0F0;
  text-decoration: none; */
}
table.nqoutput th a:visited, table.nqinput th a:visited {
/*  color : #003366;
  background-color: #A0C0F0;
  text-decoration: none; */
}
table.nqoutput th a:link:hover, table.nqinput th a:link:hover {
/*  color : #003366;
  background-color: #A0C0F0;
  text-decoration: underline; */
}
form.nquser
{
  text-align: left;
/*  color : #000000;
  background-color: #A0C0F0; */
  width: 550px;
  padding: 3px 3px 3px 3px;
}
form.nquser fieldset
{
/*  color : #000000;
  background-color: #D0E0F0;
  border-style: solid;
  border-color: #003366; */
  border-width: 1px;
  padding: 0 10px 10px 10px;
  margin: 20px 0 20px 0;
  position: relative;
  display: block;
}
form.nquser fieldset.nqbuttons
{
  text-align: center;
}
form.nquser legend
{
/*  font-weight: bold;
  color: #003366;
  background-color: #CCCC99;
  min-width:15em;
  width: 15em;
  border-style: solid;
  border-color: #003366; */
  border-width: 1px;
  padding: 2px;
  margin: 0 0 2px 0;
  position: relative;
  display:block;
  top: -13px;
} 
form.nqadmin
{
  text-align: left;
/*  color : #000000;
  background-color: #A0C0F0; */
  width: 42em;
  padding: 5px 5px 5px 5px;
}
form.nqadmin fieldset
{
/*  color : #000000;
  background-color: #D0E0F0;
  border-style: solid;
  border-color: #003366; */
  border-width: 1px;
  padding: 0 10px 10px 10px;
  margin: 20px 0 20px 0;
  position: relative;
  display: block;
}
form.nqadmin legend
{
/*  font-weight: bold;
  color: #003366;
  background-color: #CCCC99;
  min-width:15em;
  width: 15em;
  border-style: solid;
  border-color: #003366; */
  border-width: 1px;
  padding: 2px;
  margin: 0 0 2px 0;
  position: relative;
  display:block;
  top: -13px;
} 
img.geoflag {
  vertical-align: middle;
  height: 20px;
  width: 32px;
  border: 0;
  padding: 0;
  margin: 2px 2px 0px 0px;
}
img.gobutton {
  vertical-align: top;
  width: 21px;
  height: 22px;
  border: 0;
  padding: 0;
  margin:  0 2px 2px 0;
}
img.floatbutton {
  vertical-align: middle;
  width: 21px;
  height: 22px;
  border: 0;
  padding: 0;
  margin: 0;
  float: right
}
input.gobutton {
  vertical-align: top;
  width: 21px;
  height: 22px;
  border: 0;
  padding: 0;
  margin:  0 2px 2px 0;
}
input.floatbutton {
  vertical-align: middle;
  width: 21px;
  height: 22px;
  border: 0;
  padding: 0;
  margin: 0;
  float: right
}
input.outset {
  width: 40px;
  height: 24px;
  border-style: outset;
  border-color: #CCCC99;
  border-width: 4px;
  padding: 0;
  margin:  0 2px 2px 0;
}
input.inset {
  width: 40px;
  height: 24px;
  border-style: inset;
  border-color: #99CCCC;
  border-width: 4px;
  padding: 0;
  margin:  0 2px 2px 0;
}
.nq-left {
  text-align : left;
}
.nq-right {
  text-align : right;
}
.nq-center {
  text-align : center;
}
.nq-justify {
  text-align : justify;
}
.nq-indent
{
  padding-left: 2em;
}
.nq-posn1 {
  position: absolute;
  left: 182px;
}
.nq-posn2 {
  position: absolute;
  left: 242px;
}
.nq-posn3 {
  position: absolute;
  left: 270px;
}
.nq-help {
  border-bottom: 1px dotted #090909;
  cursor: help;
}
.nq-black {
  color: #000000;
  background-color: transparent;
}
.nq-blue {
  color: #0000FF;
  background-color: transparent;
}
.nq-purple {
  color: #FF00FF;
  background-color: transparent;
}
.nq-red {
  color: #FF0000;
  background-color: transparent;
}
.nq-brown {
  color: #663300;
  background-color: transparent;
}
.nq-orange {
  color: #FF6600;
  background-color: transparent;
}
.nq-yellow {
  color: #FFFF00;
  background-color: transparent;
}
.nq-green {
  color: #00FF00;
  background-color: transparent;
}
.nq-cyan {
  color: #66FFFF;
  background-color: transparent;
}
.nq-violet {
  color: #CC00FF;
  background-color: transparent;
}
