/* debug rule - dont uncomment */
/* * { outline: 1px dotted orange; } */
/* lets minimize use of tables for layout and use instead css-driven templates */

/* TODO: far too many floats here - we should remove some, and avoid a lot of clearing */

div#xarbb-topics {
    float: none;
    width: 99%;
    margin: .5em 0;
}
div.xarbb-tablewrapper {
    zoom: 100%;
    width: auto;
    margin: 0;
    padding: 0;
}
div.xarbb-noteswrapper {
    float: none;
    width: auto;
    margin: .5em 0;
}

div.xarbb-topiccontrols,
div.xarbb-messagecontrols {
    margin: .5em 0;
}

div#xarbb-topics ul.xar-sub {
    float: left;
    width: 48%;
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#xarbb-topics ul {
    float: right;
    width: 48%;
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.xarbb-messagecontrols {
    border-bottom: 1px solid #ccc;
    margin-bottom: .5em;
}

div.xarbb-messagecontrols .leftnote {
    float: left;
    width: 48%;
}

div.xarbb-messagecontrols .rightnote {
    float: right;
    width: 48%;
    text-align: right;
}


/* forum table - perfectly styleable with css - see http://www.w3.org/TR/REC-CSS2/tables.html */
div#xarbb-tablewrapper {
    width: auto;
    text-align: center;
}

div.xarbb-tablewrapper table {
    padding: 1px;
    margin: 1em auto;
    width: 100%;
    border-collapse: separate;
    border: 1px solid #999;
    border-spacing: 1px;
    empty-cells: show;
}

div.xarbb-tablewrapper table td,
div.xarbb-tablewrapper table th {
    /*margin: 1px;*/
    padding: 0.5em;
    /*border-bottom: 1px solid #000;*/
}

div.xarbb-tablewrapper table th,
div.xarbb-tablewrapper table td.forumgroup {
    /*padding: 0 .5em;*/
    line-height: 2em;
    text-align: left;
}

div.xarbb-tablewrapper table td.icon {
    /*height: 4em;*/
    width: 20px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}

div.xarbb-tablewrapper table td.forumname {
    vertical-align: middle;
    /*height: 4em;*/
}

div.xarbb-tablewrapper table td.author {
    width: 11em;
    border: 1px solid #ccc;
    vertical-align: top;
}

div.xarbb-tablewrapper table td.authorname {
    width: 10em;
}

div.xarbb-tablewrapper table td.lastpost {
    /*width: 10em;*/
    white-space: nowrap;
}

div.xarbb-tablewrapper table td.stats { width: 4em; }

div.xarbb-tablewrapper table td.message {
    border: 0 none;
    vertical-align: top;
}

div.xarbb-tablewrapper table td.newtopictitle,
div.xarbb-tablewrapper table td.newtopicfield,
div.xarbb-tablewrapper table td.newtopicbottom {
    padding-top: .5em;
    padding-bottom: .25em;
    vertical-align: top;
}

div.xarbb-tablewrapper table td.newtopictitle { /*width: 9em;*/ }
div.xarbb-tablewrapper table td input#ttitle,
div.xarbb-tablewrapper table td input#packagetitle { width: 100%; }

div.xarbb-tablewrapper table td textarea#tpost,
div.xarbb-tablewrapper table td textarea#packagetext {
    width: 100%;
    height: 20em;
}

div.xarbb-tablewrapper table td.newtopicbottom { text-align: center; }
div.xarbb-tablewrapper table td p.hiddensignature { border-top: 1px dotted #000; }

/* notes just below table */
div.xarbb-noteswrapper .leftnote {
    float: left;
    width: 48%;
}

div.xarbb-noteswrapper .rightnote {
    float: right;
    width: 48%;
    text-align: right;
}

/* login form */
div#xarbb-loginwrapper {
    clear: both;
    text-align: center;
}

div#xarbb-loginwrapper label {
	padding: 0 .2em 0 1em;
}


/* legend icons (no longer used in default templates) */
div.xarbb-legendwrapper {
    width: 100%;
    float: left;
    margin-top: .5em;
    text-align: center;
}
div.xarbb-legendwrapper span {
    padding: 0 .2em 0 1em;
}
div.xarbb-legendwrapper span.spacedout {
    width: 15em;
    float: left;
    text-align: left;
}
div.xarbb-legendwrapper span img,
div.xarbb-topiccontrols span img {
    vertical-align: middle;
    display: inline;
}


/*
    New legend styles (with semantics).
    Here you can control what gets displayed, put the legend
    into a box etc.
*/
div.xarbb-legendwrapper2 {
    margin: 1em 0;
    clear: both;
}
div.xarbb-legendwrapper2 dl {
    text-align: left;
    width: auto;
    float: none;
    padding: 0;
    margin: 0;
    line-height: 100%;
}
div.xarbb-legendwrapper2 h2 {
    text-align: center;
}
div.xarbb-legendwrapper2 dl dt {
	/* We are going to hide the definition terms for now,
	   but display them if you want as titles on each
	   group of legend icons. */
    display: none;
}
div.xarbb-legendwrapper2 dl dd {
    display: inline;
    width: 15em;
    white-space: pre;
    float: left;
    padding: 0.5em 0;
    margin: 0;
}
div.xarbb-legendwrapper2 dl dd img {
    vertical-align: middle;
    display: inline;
}



div.xarbb-topiccontrols span a {
    padding: 0 .2em;
}

/* Note from andyv - make button more cross-theme robust */
div#mainmodulearea div.xarbb-topiccontrols a.cssbutton,
div.xarbb-topiccontrols a.cssbutton {
    float: left;
    height: 28px;
    line-height: 28px;
    padding: 0 10px 0 0;
    margin-right: 4px;
    background-image: url(../xarimages/classic_set/composite_mls_button.gif) !important;
    background-position: 100% 0;
    background-repeat: no-repeat;
    text-decoration: none;
}

div.xarbb-topiccontrols a.cssbutton span.newtopicicon,
div.xarbb-topiccontrols a.cssbutton span.postreplyicon,
div.xarbb-topiccontrols a.cssbutton span.closedtopicicon {
    float: left;
    height: 28px;
    width: 28px;
    background-image: url(../xarimages/classic_set/composite_mls_button.gif);
    background-position: 0 0;
    background-repeat: no-repeat;
}

div.xarbb-topiccontrols a.cssbutton span.postreplyicon { background-position: -30px 0px; }
div.xarbb-topiccontrols a.cssbutton span.closedtopicicon { background-position: -60px 0px; }

/* Make the standard pager bolder */
div.xarbb-noteswrapper div.xar-pager * {
    text-weight: bold;
}

