
.xar-form-container-after {
    margin-left: 0em;
}

.xtasks {
}

.xtasks-norm-row {
}

.xtasks-alt-row {
}

.xtasks-menu {
}

.xtasks-menu-content {
}

.xtasks-menu table, .xtasks-menu td {
}

.xtasks-menu-title {
    padding: 4px 0;
}

.xtasks-menu-item {
    height: 18px;
    margin: 0px 4px;
    white-space: nowrap;
}

.xtasks-menu-item-hover {
    height: 18px;
    margin: 0px 4px;
}

a.xtasks-menu-link {
}

a.xtasks-menu-link:hover {
    color: #000000;
    text-decoration: none;

}

a.xtasks-menu-link:visited {
}

.xtasks-tasklist-data {
    vertical-align: top;
}

.xtasks-tasklist-data a {
}

.xtasks-tasklist-taskname {
}

.xtasks-tasklist-taskname a {
}

.xtasks-tasklist-header {
}

.xtasks-display-label {
}

.xtasks-display-data {
}
.xtasks-display-input {
}

.xtasks-display-input select, 
.xtasks-display-input textarea, 
.xtasks-display-input input {
}
/*
.xtasks-display-input:xar-form-textshort {
    width: 10px;
}
*/
xtasks.xar-form-label {
    width: 200px;
}

td.xtasks-workspace-listsubhead {
    padding: 5px;
}
dl.xtasks-display {
}
dl.xtasks-display dt {
    font-weight: bold;
    padding-bottom: .5em;
}
dl.xtasks-display dd {
    margin-left: 15em;
    padding-bottom: .5em;
}
a.xtasks-twist {
    margin-left: 1em;
}
a.xtasks-twist img {
    vertical-align: middle;
}
td.xtasks-desc {
    padding-left: 3em;
}
