/*  THEME SPECIFIC ANONYMOUS CLASSES  */
/*.txttitle {
   font-weight: bold;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
   font-size: 9.5pt;
   text-decoration: none;
}
.sidebtns {
   font-weight: bold;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
   font-size: 9.5pt;
   color:#336699;
   text-decoration: none;
}
.subhead {
   font-weight: bold;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
   font-size: 9.5pt;
   color:#60A9F0;
   text-decoration: none;
}
.btns {
   text-decoration: none;
   background-color:#FFD800;
   color:#000000;
   font-weight: bold;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
   font-size: 9.5pt;
}
.busbtns {
   text-decoration: none;
   background-color:#85B8EA;
   color:#000000;
   font-weight: bold;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
   font-size: 9.5pt;
}
.blk {
   text-decoration: none;
   color:#000000;
   font-weight: bold;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
   font-size: 9.5pt;
}
.LightUp {
   background-color:#CFE5FA;
   color:#FFFFFF;
   font-weight: bold;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
   font-size: 9.5pt;
   text-decoration: none;
}
.LightDown {
   background-color:#FFFFFF;
   color:#336699;
   font-weight: bold;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
   font-size: 9.5pt;
   text-decoration: none;
}
.formUp {
   background-color:#E3F1FF;
}
.copyright {
   font-size: 9pt;
   line-height: 150%;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
}

.rightalign{
    text-align: right
}

.td-text-width{
    width: 15%
}
*/

/* Helpdesk Styles */
.contentBorder{
    border-left: solid 1px #000000; 
    border-right: solid 1px #000000; 
    border-bottom: solid 1px #000000; 
    padding: 5px;
}

.selectedMenuItem {
    border-left: solid 1px #000000; 
    border-right: solid 1px #000000; 
    border-top: solid 1px #000000; 
    padding: 3px;
}

.menuItem{
    border-left: solid 1px #000000; 
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
    border-right: solid 1px #000000; 
    padding: 3px;
}

/* a 'standard' table */
table.std {
    border: solid #08245b 2px;
    background: #d6ebff;
}
table.std TH {
    background-color: #08245b;
    color: white;
    list-style-type: disc;
    list-style-position: inside;
    border: outset #D1D1CD 1px;
}

table.std td.hilite {
    background-color: #ffffff;
}
