/* Helpdesk Styles */
.tborder{
    border: 1px solid #ccc;
    text-align: left;
    border-top: none;
    padding: 20px 5px 5px 5px;
}

/* a 'standard' table */
table.std {
    border: solid #08245b 2px;
    background: #d6ebff;
}
table.std TH {
    background-color: #08245b;
    color: white;
    list-style-type: disc;
    list-style-position: inside;
    border: outset #D1D1CD 1px;
}

table.std td.hilite {
    background-color: #ffffff;
}
